<%- include("../includes/head.ejs")%>
<link rel="stylesheet" href="/public/css/forms.css">

  </head>

  <body>

    <%- include("../includes/navigation.ejs")%>
    
    <main>
      <% if (error != null) { %>
        <h3 class="error"><%= error %></h3>
      <% } %>

      <form action="/auth/signup" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="text" class="<%= error != null && fields.includes('name') ? 'invalid' : ''%>" value="<%= error != null ? oldInput.name : ''%>" placeholder="Name" name="name">
        <input type="text" class="<%= error != null && fields.includes('email') ? 'invalid' : ''%>" value="<%= error != null ? oldInput.email : ''%>" placeholder="Email" name="email">
        <input type="password" class="<%= error != null && fields.includes('password') ? 'invalid' : ''%>" value="<%= error != null ? oldInput.password : ''%>" placeholder="Password" name="password">
        <input type="password" class="<%= error != null && fields.includes('passwordConf') ? 'invalid' : ''%>" value="<%= error != null ? oldInput.passwordConf : ''%>" placeholder="Confirm password" name="passwordConf">
        <button type="submit">Signup</button>
      </form>

    </main>
    <%- include('../includes/end.ejs') %>