<%- include("../includes/head.ejs")%>
<link rel="stylesheet" href="/public/css/groups.css">

  </head>

  <body>

    <%- include("../includes/navigation.ejs")%>
    
    <main>
      <form action="/share-file?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="groupId" value="<%= group._id.toString() %>">
        <input type="file" name="file" accept="*" multiple>
        <input type="text" placeholder="Description" name="description">
        <button type="submit">Share</button>
      </form>
      <% if (group.files.length > 0) { %>
        <ul>
          <% group.files.forEach(file => { %>
            <li><a href="/file/<%= file._id %>"><%= file.filename %> - <span style="font-size: small;"><%= file.description %></span></a></li>
          <% }) %>
        </ul>
      <% } else { %>
        <h2>There are no files in this group at the moment. Be first to share file</h2>
      <% } %>
    </main>
    <%- include('../includes/end.ejs') %>