<%- include("../includes/head.ejs")%>
<link rel="stylesheet" href="/public/css/groups.css">

  </head>

  <body>

    <%- include("../includes/navigation.ejs")%>

    <main>
      <input type="hidden" name="code" value="<%= group.code %>">
      <% if (isAdmin) { %>
        <form action="/group/<%= group._id.toString() %>/message-requests" method="GET">
          <button type="submit" class="admin_button">Review Message Requests</button>
        </form>
      <% } %>
      <form action="/group/<%= group._id.toString() %>/members" method="GET">
        <button type="submit" class="admin_button">Members</button>
      </form>
      <button class="admin_button copy">Copy Invite Code</button>
      <% if (isAdmin) { %>
        <form action="/delete-group" method="POST" class="confirm">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="groupId" value="<%= group._id.toString() %>">
          <button type="submit" class="admin_button delete_group">Delete Group</button>
        </form>
      <% } %>
			<form action="/leave-group" method="POST" class="confirm">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="groupId" value="<%= group._id.toString() %>">
          <button type="submit" class="admin_button delete_group">Leave Group</button>
			</form>
      <hr>
      <form id="share_form" action="/send-message?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="groupId" value="<%= group._id.toString() %>">
        <input type="file" name="file" accept="*" multiple>
        <textarea name="description" placeholder="Description" cols="30" rows="10"></textarea>
        <button type="submit"><%= isAdmin ? "Share" : "Request" %></button>
      </form>
      <hr>
      <% if (group.messages.length > 0) { %>
        <% group.messages.forEach(message => { %>
          <ul class="msg-border">
            <h3><%= message.description %></h3>
            <% message.files.forEach(file => { %>
              <li><a href="/file/<%= file._id %>"><%= file.filename %></span></a></li>
            <% }) %>
            <h3>shared by <span style="color: green;"><%= message.sender.name %></span> on <span style="color: green;"><%= message.createdAt.toLocaleDateString("en-US", {minute: "numeric", hour: "numeric", day: "numeric", month: "long", year: "numeric"}) %></span></h3>
          </ul>
        <% }) %>
        <ul style="height: 0;"><li style="border: none; cursor: default; height: 0;"><a style="color: white; cursor: default; height: 0;">placeholder</a></li></ul>
      <% } else { %>
        <h2 style="margin: .25rem 1rem; color: purple; opacity: 0.6">There are no files in this group yet. Be first to share one</h2>
      <% } %>
    </main>
    <script>
			const btn = document.querySelector(".admin_button.copy")
      const code = document.querySelector("input[name=code]")

      btn.addEventListener("click", ev => {
        btn.textContent = "Code Copied"
        btn.disabled = true;
        btn.style.width = "144px";
        btn.style.opacity = 0.25;
        btn.style.cursor = "not-allowed"
        navigator.clipboard.writeText(code.value)
        setTimeout(() => {
        btn.style.cursor = "pointer"
          btn.style.opacity = 1;
          btn.disabled = false;
          btn.textContent = "Copy Invite Code"
        }, 4000)
      })
    </script>
    <%- include('../includes/end.ejs') %>
