<%- include("../includes/head.ejs")%>
<link rel="stylesheet" href="/public/css/groups.css">

  </head>

  <body>

    <%- include("../includes/navigation.ejs")%>
    
    <main>
      <% if (messages.length > 0) { %>
        <% messages.forEach(message => { %>
          <ul class="msg-border">
            <h3><%= message.description %></h3>
            <% message.files.forEach(file => { %>
              <li><a href="/file/<%= file._id %>"><%= file.filename %></span></a></li>
            <% }) %>
            <h3>requested by <span style="color: green;"><%= message.sender.name %></span> on <span style="color: green;"><%= message.createdAt.toLocaleDateString("en-US", {minute: "numeric", hour: "numeric", day: "numeric", month: "long", year: "numeric"}) %></span></h3>
            <div class="options">
              <form action="/approve-request" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="messageId" value="<%= message.id %>">
                <button type="submit">Approve</button>
              </form>
              <form action="/reject-request" method="POST" class="confirm">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="messageId" value="<%= message.id %>">
                <button type="submit">Reject</button>
              </form>
            </div>
          </ul>
        <% }) %>
        <ul style="height: 0;"><li style="border: none; cursor: default; height: 0;"><a style="color: white; cursor: default; height: 0;">placeholder</a></li></ul>
      <% } else { %>
        <h2 style="margin: .25rem 1rem; color: purple; opacity: 0.6">There are no message requests at the moment</h2>
      <% } %>
    </main>

    <%- include('../includes/end.ejs') %>
