<%- include("../includes/head.ejs")%>

  </head>

  <body>

    <%- include("../includes/navigation.ejs")%>   
      <form id="upload_form" action="/send-message?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
      	<input type="hidden" name="groupId" value="<%= group._id.toString() %>">
       	<input type="file" name="file" accept="*" multiple>
      	<textarea name="description" placeholder="Description" cols="30" rows="10"><%= oldInput?.description %></textarea>
        <% if (isAdmin) { %>
          <button type="submit">Share</button>
        <% } %>
      </form>
			<hr>
      <% if (group.messages.length > 0) { %>
        <% group.messages.forEach(message => { %>
          <ul class="msg-border">
            <h3><%= message.description %></h3>
            <% message.files.forEach(file => { %>
              <li><a href="/file/<%= file._id %>"><%= file.filename %></span></a></li>
            <% }) %>
            <h3>shared by <span style="color: green;"><%= message.sender.name %></span> on <span style="color: green;"><%= message.createdAt.toLocaleDateString("en-US", {minute: "numeric", hour: "numeric", day: "numeric", month: "long", year: "numeric"}) %></span></h3>
          </ul>
        <% }) %>
        <ul style="height: 0;"><li style="border: none; cursor: default; height: 0;"><a style="color: white; cursor: default; height: 0;">placeholder</a></li></ul>
      <% } else { %>
        <h2 style="margin: .25rem 1rem; color: purple; opacity: 0.6">There are no messages in this group yet. <% if (isAdmin) { %>Be first to share one<% } %></h2>
      <% } %>
    <main>

    </main>
    <%- include('../includes/end.ejs') %>
